<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light it-nav">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <img src="/assets/img/logo.jpg" alt="logo" class="navbar-brand">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link it-link" routerLink="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link it-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link it-link" href="#">Merchant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link it-link" href="#">Delivery FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link it-link" href="#">Media</a>
          </li>
        </ul>
        <div class="my-2 my-lg-0">
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          <button type="button" class="btn btn-success" routerLink="shipment" >Ship now</button>
          </div>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
