<app-header></app-header>
<div class="container">
    <div class="it-table--info">
        <form class="form-inline it-form">
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="I-track No...">
            </div>
            <button type="submit" class="btn btn-it mb-2">TRACK IT</button>
        </form>
        <div class="it-table--sub-info">
            <p>I-track Number <br><strong> 00100</strong></p>
            <p>Departure Address<br><strong>Ikeja, Lagos</strong></p>
            <p>Destination Address<br><strong>Yenogoa, Bayelsa</strong></p>
        </div>
    </div>
        
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr class=it-table--head>
                <th scope="col">#</th>
                <th scope="col">I-track No</th>
                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">Remark</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>0010</td>
                <td>30 Oct 2020	5:54:35 pm</td>
                <td>YENAGOA </td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>0010</td>
                <td>30 Oct 2020	5:54:35 pm</td>
                <td>ASABA</td>
                <td>@fat</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>0010</td>
                <td>30 Oct 2020	5:54:35 pm</td>
                <td>IKEJA</td>
                <td>@twitter</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<!-- <app-footer></app-footer> -->
